body {
  margin: 0;
  background: var(--bg-color);
}
.logoSpace {
  margin-top: 70px;
}
.logoSpace img {
  height: 100px;
}
.logoSpace h5 {
  border-left: #000;
  letter-spacing: 3px;
  width: fit-content;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: relative;
}
.logoSpace h5::before,
.logoSpace h5::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.logoSpace h5::before {
  background-color: white;
  animation: typewriter 3s steps(22) forwards;
}
.logoSpace h5::after {
  width: 0.15em;
  background: #000;
  animation:
    typewriter 3s steps(22) forwards,
    blink 500ms steps(22) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background-color: transparent;
  }
}

.logoSpace button {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  background: #134d0f;
  transition: 0.5s;
}

.logoSpace button:hover {
  cursor: pointer;
  background: #fff;
  color: #134d0f;
}

.vote-link {
  color: white;
}
.vote-link:hover {
  color: #134d0f;
}

